body{
    background-color: rgb(238, 228, 228);
}

.nav ul{
    width: 100%;
    height: 8%;
    margin-top: 100px;
    text-align: center;
}
.nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: fixed;
}
li{
    float: left;
    padding-top: 16px;
}
li a{
    text-decoration: none;
    color: black;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

li a:hover{
    background-color:black;
    color: wheat;
}
.active{
    background-color: #dd1e1e;
    color: black;
}
.parent{
    padding: 0;
    margin: 0;
    display: flex;
}

.child{
    width: 100%;
    height: 80%;
    padding: 10px;
    text-align: center;
}

.child img{
    width: 100%;
    height: 80%;
    border-radius: 20px;
}
button{
    text-align: center;
    margin-left: 25%;
    padding: 10px 10px 10px 10px;
    background-color: red;
    border: transparent;
    border-radius: 10px;
    width: 50%;

}
button a{
    margin-top: 40px;
    text-decoration: none;
    color: black;

}

button a:hover{
    color: white;
}
.about{
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.parents{
    padding: 0;
    margin: 0;
    display: flex;
}

.childs{
    width: 100%;
    height: 80%;
    padding: 10px;

}

.childs img{
    width: 100%;
    height: 80%;
    border-radius: 30%;
}

.child h1 h6{
    animation: fadeIn 0.3s;
}
@keyframes fadeIn{
	0%{opacity: 0;}
	100%{opacity: 1}
}

.childz{
    width: 100%;
    height: 80%;
    padding: 10px;
    text-align: center;
    font-size: 28px;
    animation: fadeIn 0.3s;

}
.footer{
    background-color: grey;
    text-align: center;
}

.child ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
small{
    padding-bottom: 10px;
    color: red;
}
.container{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.input{
    padding: 10px 15px;
    margin: 10px;

}
form{
    background-color: rgba(236, 175, 174, 0.89);
    margin-left: 350px;
    margin-right: 350px;
    border-radius: 15px;
}
.textbox{
    padding: 10px 10px 10px 10px;
    width: 400px;
    border-radius: 10px;
    border: transparent;
}
.submit{
    padding: 10px 10px 10px 10px;
}
